{:mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :aliases {:pack
           {:extra-deps
            {pack/pack.alpha
             {:git/url "https://github.com/juxt/pack.alpha"
              :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"
              :exclusions [org.slf4j/slf4j-nop]}}
            :main-opts
            ["-m"]}}
 :deps {http-kit/http-kit {:mvn/version "2.5.3"}
        ring/ring-core {:mvn/version "1.9.3"}
        com.datomic/datomic-pro {:mvn/version "0.9.5561"
                                 :exclusions [org.slf4j/log4j-over-slf4j
                                              org.slf4j/slf4j-nop]}
        mysql/mysql-connector-java {:mvn/version "5.1.39"}
        org.postgresql/postgresql {:mvn/version "42.2.9"}

        com.google.cloud.sql/mysql-socket-factory {:mvn/version "1.0.5"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.1"}

        borkdude/sci {:mvn/version "0.2.4"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        clj-time/clj-time {:mvn/version "0.14.2"}

        sv/slf4j-gke-logging {:git/url "https://github.com/SimpleValue/slf4j-gke-logging.git"
                              :sha "c38208f38de21e4de4f67a48c62dab9463cc8a89"}

        }}
